.html {
    font-family: Helvetica;
}
.baner {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}
.footer {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}
.left {
    background-color: #EFEFEF;
    width: 55%;
    height: 150px;
}
.left2 {
    background-color: #EFEFEF;
    width: 55%;
    height: 300px;
}
.right {
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
}
.img {
    box-shadow: 10px 10px 7px DimGray;
    margin: 20px;
    width: 400px
}
.table, tr, td, th {
    border: 1px solid #4FB3BF;
    border-collapse: collapse;
}
.table {
    margin: auto;
    width: 80%;
}
.td, th {
    padding: 4px;
}
.tr:hover {
    background-color: #4FB3BF;
}